import React from 'react';

import { Container, Content } from './{{pascalCase name}}.styles';

const {{pascalCase name}}: React.FC = () => {
  return (
    <Container>
      <Content>
        <p>Hello, this page us {{pascalCase name}}</p>
      </Content>
    </Container>
  );
};

export default {{pascalCase name}};
